@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#tabbrowser-tabs tab:only-of-type {
    display: none !important;
}
#tabbrowser-tabs tab:only-of-type > #TabsToolbar {
    margin-bottom: 0px !important;
}

.tabbrowser-tab tab:only-of-type {
    display: none;
}

#tabs-newtab-button {
    display: none;
}
